@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.article {
  @apply flex flex-col gap-3 text-lg tracking-wide isolate;
}

.article > h1 {
  @apply text-4xl font-bold;
}

.article > h2 {
  @apply text-3xl font-bold;
}

.article > p {
  @apply text-justify leading-relaxed;
}

.article > img {
  @apply w-full h-auto;
}

.article > blockquote {
  @apply italic border-l-4 border-gray-500 pl-4;
}

.article > ul {
  @apply list-disc list-inside;
}

.article > ol {
  @apply list-decimal list-inside;
}

.article > pre {
  @apply p-4 bg-gray-800 rounded-lg text-gray-100 text-wrap;
}

.article > pre > code {
  @apply block;
}

div.react-terminal-line {
  text-wrap: wrap;
}

div.react-terminal-wrapper {
  color: rgb(223, 223, 204);
  font-size: small
}
